@use '../../styles/partials/font' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

* {
    margin: 0;
    padding: 0;
}

.warehouseDetails {
    background-color: $color-primary-3;
    padding: 1rem;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        border-bottom: 1px solid $color-secondary-1;
    }
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    &__arrowBack-button {
        width: 1.5rem;
        height: 1.5rem;
        align-items: center;
    }
    &__heading {
        height: 2.25rem;
        color: $color-primary-1;
        font-family: "TitilliumWeb-SemiBold";
        font-size: 1.75rem;
        line-height: 2.25rem;
        @include tablet {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    &__edit {
        border-radius: 1.25rem;
        width: 2.25rem;
        height: 2.25rem;
        background-color: $color-primary-2;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
            width: 5.25rem;
            height: 2.25rem;
            gap: 0.5rem;
            padding: 0.2rem 0.7rem;
            border-radius: 20px;
        }
    }
    &__edit-text {
        display: none;
        font-family: "TitilliumWeb-SemiBold";
        font-weight: 700;
        font-size: 0.8125rem;
        line-height: 1.25rem;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            display: flex;
            color: $color-primary-3;
        }
    }
    &__infoBox {
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            margin-top: 1rem;
        }
    }
    &__address {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 0;
        @include tablet {
            width: 40%;
            padding: 0;
        }
    }
    &__address-heading {
        margin-bottom: 1rem;
        color: $color-secondary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.6875rem;
        line-height: 1rem;
        @include tablet {
            font-size: 0.75rem;
            line-height: 1.125rem;
            margin-bottom: 0.5rem;
        }
    }
    &__address-detail {
        color: $color-primary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.8125rem;
        line-height: 1.25rem;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    &__contact {
        display: flex;
        flex-direction: row;
        @include tablet {
            padding-left: 2rem;
            width: 70%;
            border-left: 1px solid $color-secondary-1;
            padding: 0 0 0 2rem ;
        }
    }
    &__contact-name {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        gap: 0.5rem;
    }
    &__contact-name-heading {
        color: $color-secondary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.6875rem;
        line-height: 1rem;
        @include tablet {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
    }
    &__contact-name-detail {
        color: $color-primary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.8125rem;
        line-height: 1.25rem;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    &__contact-name-position {
        color: $color-primary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.8125rem;
        line-height: 1.25rem;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    &__contactInfo {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        gap: 0.5rem;
    }
    &__contactInfo-heading {
        color: $color-secondary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.6875rem;
        line-height: 1rem;
        @include tablet {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
    }
    &__contactInfo-tel {
        color: $color-primary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.8125rem;
        line-height: 1.25rem;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
    &__contactInfo-mail {
        color: $color-primary-1;
        font-family: "TitilliumWeb-Regular";
        font-size: 0.8125rem;
        line-height: 1.25rem;
        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }
}