@font-face {
    font-family: "TitilliumWeb";
    src: url("../../assets/font/TitilliumWeb-SemiBold.woff2") format("woff2"), url("../../assets/font/TitilliumWeb-SemiBold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url("../../assets/font/TitilliumWeb-Regular.woff2") format("woff2"), url("../../assets/font/TitilliumWeb-Regular.woff");
    font-weight: 400;
}