@use "styles/partials/mixins" as *;
@use "styles/partials/variables" as *;
@use "styles/partials/font" as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @include no-padding-or-margin;
    font-family: "TitilliumWeb", sans-serif;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}
